.main{
border: 100% black;
    text-shadow: 10px 10px 10px red;
    box-shadow: -10px -10px black;
     background-color: aqua;
    width: 50%; 
    margin: auto;
     /* height: 200px;overflow: scroll;  */
    
     /* border-width: 20px;
    border-color: black;
    border-style: groove;
      */

     /* border: 10px groove blue; */
     /* margin-top: 30px;
     margin-left: 100px; */

     /* margin: 
     auto; */

     /* margin-top: 50px; */
     /* padding: 20px; */
    }

      
 /* ul > li{
    /* background-color: red; */

/* display: inline-block; */


/* width: 100px; */


 

a{
    padding-left: 100px;

color: black;
text-decoration: none;

}




/* #ggg{

    visibility: hidden;
}
 */


/* .main{
    box-shadow: 15px 10px black;
} */






